<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">RGB与Hex</h1>
</div>
<div class="wrapper-md" ng-controller="ColorCodeCtrl">
    <h1 class="m-t-none m-b">RGB</h1>
    <div class="row row-padding">
        <label class="col-md-1"><h2 class="margin5">Red</h2></label>
        <div class="col-md-2">
            <input type="text" class="form-control input-lg m-b" ng-model="red"/>
        </div>
        <label class="col-md-1"><h2 class="margin5">Green</h2></label>
        <div class="col-md-2">
            <input type="text" class="form-control input-lg m-b" ng-model="green"/>
        </div>
        <label class="col-md-1"><h2 class="margin5"">Blue</h2></label>
        <div class="col-md-2">
            <input type="text" class="form-control input-lg m-b" ng-model="blue"/>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-5">
            <button class="btn m-b-xs w-md btn-primary" ng-click="rgbToHex()">RGB转换为Hex</button>
        </div>
        <div class="col-md-5">
            <button class="btn m-b-xs w-md btn-primary" ng-click="hexToRgb()">Hex转换为RGB</button>
        </div>
    </div>
    <br/>
    <h1 class="m-t-none m-b">Hex</h1>
    <div class="row row-padding" style="padding: 50px;">
        <label class="col-md-1 text-right"><h2 class="margin5">#</h2></label>
        <div class="col-md-2">
            <input type="text" class="form-control input-lg m-b" ng-model="hex"/>
        </div>
        <div class="col-md-5">
            <div class="color-box pull-right" style="background-color: {{'#'+hex}}"></div>
        </div>
    </div>
</div>
